Label{
    -fx-font-family: Tahoma;

    -fx-border-bottom-style: solid;
    -fx-border-color: #00CC66;
    -fx-border-width: 0 0 2 0;
}

Pane{
    -fx-background-color: #FCF3CF  ;
}
.ButtonLogout{
    -fx-background-color: linear-gradient(to bottom right, #6C5B7B, #C06C84, #F67280);
    -fx-text-fill: white; /* set text color */
    -fx-font-size: 24pt; /* set font size */
    -fx-padding: 10px 20px; /* set padding */
    -fx-border-style: solid;
    -fx-border-width: 4px;
    -fx-font-weight: bolder;

}
.ButtonLogout:hover{
    -fx-background-color: #FF6656;
}
Button{
    -fx-background-color: linear-gradient(to bottom right, #AAB7B8, #34495E , #1E8449);
    -fx-text-fill: white; /* set text color */
    -fx-font-size: 24pt; /* set font size */
    -fx-padding: 10pt; /* set padding */
    -fx-border-style: solid;
    -fx-border-width: 4px;
    -fx-font-weight: bolder;
}

Button.update {
    -fx-background-color: linear-gradient(#ff9d2f, #ff6126);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-weight: 600;
    -fx-padding: 8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

Button.update:hover {
    -fx-background-color: linear-gradient(#ff6126, #ff9d2f);
}

Button.update:pressed {
    -fx-background-color: linear-gradient(#ff6126, #ff9d2f);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
}
