.Label{
    -fx-font-family: Tahoma;
    
    -fx-border-bottom-style: solid;
    -fx-border-color: #00CC66;
    -fx-border-width: 0 0 2 0;
}
Button{
    -fx-font-family: Tahoma;
    -fx-background-color: linear-gradient(to bottom right, #AAB7B8, #34495E , #1E8449);
    -fx-text-fill: white; /* set text color */
    -fx-font-size: 20px; /* set font size */
    -fx-padding: 10px 20px; /* set padding */
    -fx-border-style: solid;
    -fx-border-width: 4px;
    -fx-font-weight: bold;
}
.Button1{
    -fx-font-family: Tahoma;
    -fx-background-color: #009900;
    -fx-text-fill: white; /* set text color */
    -fx-font-size: 20px; /* set font size */
    -fx-padding: 10px 20px; /* set padding */
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
}
.Button2{
    -fx-font-family: Tahoma;
    -fx-background-color: #990000;
    -fx-text-fill: white; /* set text color */
    -fx-font-size: 20px; /* set font size */
    -fx-padding: 10px 20px; /* set padding */
    -fx-border-style: solid;
    -fx-border-width: 2 px;
    -fx-font-weight: bold;
}
.label1{
    -fx-font-family: Tahoma;
    -fx-font-size: 16px;
}
.label2{
    -fx-font-family: Tahoma;
    -fx-font-size: 24px;
}
Button{
    -fx-font-family: Tahoma;
    -fx-background-color: #00CC66;
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-padding: 10px 20px;
  -fx-background-radius: 50px;
}